<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AYZAN_PROJECT.My.MySettings.AYZAN_GROUPConnectionString"
            connectionString="Data Source=YORGO;Initial Catalog=AYZAN_GROUP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>